html {
	margin:0 -4px;
}
.form-container {
	background:#b13939;
	color:white;
	height:450px;
	width:600px;
	font-family:Tahoma, Geneva, sans-serif
}
.title{
	text-align:center;
	padding-top:20px;
}

.outline {
	margin-left:10px;
	margin-right:40px;
	font-size:8px;
	color:#FFFFF0;
}
 p {
 	margin-left:30px;
 	margin-right:40px;
 	font-size:8px;
 	color:#FFFFE0;
 }
 h4 {
 	margin-left:30px;
 }
input {
	box-shadow-bottom:#8e4123;
	height:30px;
	width: 250px;
	display:inline-block;
	margin-top:10px;
}
.left {
	margin-left:30px;
}
.right {
	margin-right:40px;
}
#social {
	height:30px;
	width:125px;
	display:inline-block;
	
}
button {
	float:right;
	margin:20px 58px 0 0;
	height:40px;
	width:150px;
	background:#8A2E00;
	color:white;
	box-shadow-bottom:#8e4123;
	border:none;
}